<apex:page standardController="Case" showheader="false" sidebar="false">
   <apex:includeScript value="/support/console/28.0/integration.js"/>
    <apex:form >
        <script>
            function IRTOpenPrimaryTab() 
            {
                 sforce.console.openPrimaryTab(null, 'https://biogenirttrn.agondemand.bz/Portal/pages/login/license.jsf', false,'IRT',openSuccess,'IRT');         
            }
                        
            var openSuccess = function openSuccess(result) 
            {
                //Report whether opening the new tab was successful
                if (result.success == true) 
                {
                   var primaryTabName = 'IRT';
                   sforce.console.getEnclosingTabId(closeSubtab);
                   sforce.console.focusPrimaryTabByName(primaryTabName);                 
                } 
                else 
                {
                    alert('IRT Primary tab cannot be opened');
                }
            };
      
            var closeSubtab = function closeSubtab(result) 
            {
                 //Now that we have the tab ID, we can close it
                 var tabId = result.id;
                 sforce.console.closeTab(tabId);
            };
            
            window.onload = function()
            {
                IRTOpenPrimaryTab();
            };
        </script>
    </apex:form>
</apex:page>