<apex:page standardController="BIIB_Work__c">
 <apex:includeScript value="/support/console/30.0/integration.js"/>
     <apex:form >
     <script>
  		<h1>Congratulations</h1>
  		sforce.console.setTabTitle('Escalate To Field Work');
	</script>
	</apex:form>
</apex:page>