<apex:page standardStylesheets="true" controller="VODRedirectController" >
   <apex:iframe scrolling="false" height="2000px" width="100%" src="javascript:false" frameborder="false" id="mc_iframe"/>
   <script>
    var vodiframe = document.getElementById("mc_iframe");
    var url = "{!McUrl}/app/view/admin/engage/content";
    url += "?VER=" + "{!McVersion}";
    url += "&ses=" + "{!$Api.Session_ID}";
    url += "&url=" + "{!URLENCODE($Api.Partner_Server_URL_240 )}";
    url += "&retURL=" + decodeURIComponent("{!URLENCODE($Request.retURL)}");
    vodiframe.src = url;
   </script>

</apex:page>